In [1]:
import pandas as pd
import os

In [2]:
os.chdir("../")

In [3]:
df = pd.read_csv('artifacts/ingested_data.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [6]:
df.duplicated().sum()

np.int64(240)

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1359 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1359 non-null   float64
 1   volatile acidity      1359 non-null   float64
 2   citric acid           1359 non-null   float64
 3   residual sugar        1359 non-null   float64
 4   chlorides             1359 non-null   float64
 5   free sulfur dioxide   1359 non-null   float64
 6   total sulfur dioxide  1359 non-null   float64
 7   density               1359 non-null   float64
 8   pH                    1359 non-null   float64
 9   sulphates             1359 non-null   float64
 10  alcohol               1359 non-null   float64
 11  quality               1359 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 138.0 KB

In [9]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000,1359.000000
mean,8.310596,0.529478,0.272333,2.523400,0.088124,15.893304,46.825975,0.996709,3.309787,0.658705,10.432315,5.623252
std,1.736990,0.183031,0.195537,1.352314,0.049377,10.447270,33.408946,0.001869,0.155036,0.170667,1.082065,0.823578
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996700,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.430000,2.600000,0.091000,21.000000,63.000000,0.997820,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [5]:
from src.logs import log_message

In [6]:
if df.duplicated().sum() != 0:
    log_message('Duplicates found')
    df.drop_duplicates(inplace=True)
    log_message('Dropping Duplicates')
else:
    log_message('Dulicates are not found')

In [7]:
df.duplicated().sum()

np.int64(0)

In [11]:
from src.logs import log_message

In [ ]:
def transform():
    log_message('Loading data')
    df = pd.read_csv('artifacts/ingested_data.csv')

    log_message('Checking duplicates')
    if df.duplicated().sum() != 0:
        log_message('Duplicates found')
        df.drop_duplicates(inplace=True)
        log_message('Dropping Duplicates')
    else:
        log_message('Dulicates are not found')
    
    log_message('Checking Missing Values')
    if df.isnull().sum().sum() != 0:
        log_message('Missing values are found')
        df.fillna(df.median(),inplace=True)
        log_message('Missing values are filled by median value')
    else:
        log_message('Missing values are not found')
    
    os.makedirs("artifacts", exist_ok=True)
    df.to_csv("artifacts/transformed_data.csv", index=False)
    log_message('Transformed data is saved')

    return

In [13]:
transform()

In [14]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [ ]:
os.chdir()

 Volume in drive C is OS
 Volume Serial Number is BAB6-D22B

 Directory of c:\Users\jagad\OneDrive\Desktop\MLP

10-03-2025  16:52    <DIR>          .
09-03-2025  22:47    <DIR>          ..
10-03-2025  16:57    <DIR>          artifacts
10-03-2025  14:18    <DIR>          datasets
09-03-2025  23:30    <DIR>          logs
10-03-2025  17:10               220 main.py
09-03-2025  22:44                 0 README.md
10-03-2025  15:31    <DIR>          research
10-03-2025  17:02    <DIR>          src
09-03-2025  22:46    <DIR>          static
09-03-2025  22:46    <DIR>          templets
               2 File(s)            220 bytes
               9 Dir(s)  75,911,999,488 bytes free